@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/font/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/static/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
}

@layer utilities {
  .glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .liquid-mesh {
    background: radial-gradient(at 0% 0%, rgba(255, 255, 255, 0.15) 0%, transparent 50%),
                radial-gradient(at 100% 100%, rgba(255, 255, 255, 0.05) 0%, transparent 50%);
  }
}